project_name = "aws-cost-optimizer"
aws_region   = "us-east-1"

environment_tag_key = "Environment"
target_environment  = "dev"

schedule_timezone = "America/Sao_Paulo"
stop_schedule     = "cron(0 19 ? * MON-FRI *)"
start_schedule    = "cron(0 8 ? * MON-FRI *)"

enable_scheduler = true

tags = {
  Owner      = "devops"
  CostCenter = "finops"
  Purpose    = "cost-optimization"
}
